<app-cabecera></app-cabecera>
<div class="main">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/slide-1.jpg" width="200" height="650" alt="slide 1" class="d-block w-100" data-bs-interval="2000">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/slide-2.jpg"  width="200" height="650" alt="slide 2" class="d-block w-100" data-bs-interval="2000">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/slide-3.jpg"  width="200" height="650" alt="slide 3" class="d-block w-100" data-bs-interval="2000">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/slide-4.jpg"  width="200" height="650" alt="slide 4" class="d-block w-100" data-bs-interval="2000">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon carousel__iconcontrol"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon carousel__iconcontrol"></span>
        </button>
    </div>
    <section class="section__banners">
        <p class="lema">Estamos comprometidos con nuestros clientes y sus objetivos, para ello brindamos diversos servicios</p>
        <div class="row banner banner--1">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./assets/img/imgbanner1.jpeg" class="img-fluid rounded-start mx-auto d-block banner__img" alt="Imagen banner 1" width="" height="" >
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="banner__contenido">
                    <h4 class="banner__titulo">INGENIERÍA DE DISEÑO, ASESORÍA Y CONSULTORÍA</h4>
                    <div class="banner__grupocontenido">
                        <div class="banner__bloque">
                            <p class="banner_texto">• Elaboración de proyectos eléctricos</p>
                            <p class="banner_texto">• Auditoría eléctrica</p>
                        </div>
                        <div class="banner__bloque">
                            <p class="banner_texto">• Diseño de iluminación industrial</p>
                        </div>
                        <div class="banner__bloque">
                            <p class="banner_texto">• Estudios de replanteo de instalaciones eléctricas</p>
                            <p class="banner_texto">• Diseño de alumbrado exterior</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row banner  banner--2">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="banner__contenido">
                    <h4 class="banner__titulo">OTROS SERVICIOS</h4>
                    <div class="banner__grupocontenido">
                        <div class="banner__bloque">
                            <p class="banner_texto">• Instalaciones eléctricas</p>
                            <p class="banner_texto">• Mantenimiento de tableros eléctricos</p>
                        </div>
                        <div class="banner__bloque">
                            <p class="banner_texto">• Sistemas de ventilación y aire acondicionado</p>
                        </div>
                        <div class="banner__bloque">
                            <p class="banner_texto">• Montaje de subestaciones de 1Kv a 36Kv</p>
                            <p class="banner_texto">• Mantenimiento de sistemas de tierra</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./assets/img/imgbanner2.jpg" class="img-fluid rounded-start mx-auto d-block banner__img" alt="Imagen banner 2" width="" height="" >
            </div>
            <div class="col-lg-1"></div>
        </div>
    </section>
    <section class="section__pqelegirnos">
        <p class="lema">¿Por qué elegirnos?</p>
        <div class="pqelegirnos__grupo">
            <article class="pqelegirnos__card">
                <img src="./assets/img/experiencia.png" alt="Imagen sobre experiencia" width="80" height="50" class="d-inline-block align-text-top pqelegirnos__img">
                <p class="pqelegirnos__texto">Contamos con un staff de ingenieros altamente calificados y con un plantel de técnicos muy experimentados.</p>
            </article>
            <article class="pqelegirnos__card">
                <img src="./assets/img/equipo_adecuado.png" alt="Imagen sobre los equipos" width="80" height="50" class="d-inline-block align-text-top pqelegirnos__img">
                <p class="pqelegirnos__texto">Trabajamos con herramientas e instrumentos de moderna tecnología. Además, de una flota de vehículos y líneas de comunicación para atender oportunamente a los requerimientos del cliente.</p>
            </article>
            <article class="pqelegirnos__card">
                <img src="./assets/img/trabajo_equipo.jpeg" alt="Imagen sobre trabajo en equipo" width="80" height="50" class="d-inline-block align-text-top pqelegirnos__img">
                <p class="pqelegirnos__texto">Nuestro equipo humano trabaja íntegramente para desarrollar proyectos con calidad, seguridad, dentro del plazo y presupuesto previsto.</p>
            </article>
        </div>
    </section>
</div>