@media (min-width:800px) {
    .section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: 20%;
        margin: 5px 5px 10px;
    }
    .card--titulo{
        font-size: 2.3rem;
    }    
}