.portada__img{
    width: 100%;
    height: 685.5px;
}
.section__mision, .section__equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.mision__lema, .equipo__lema{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    color: #351C75;
}
.mision__texto{
    padding: 0 3rem;
    font-family: sans-serif;
    font-size: 1.8rem;
    text-align: center;
    text-align: center;
}
.equipo__lema{
    margin-top: 0;
    margin-bottom: 4rem;
}
.equipo__grupo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.equipo__grupo-gerente{
    margin-bottom: 3rem;
}
.equipo__card{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 252px;
    border: 0.2rem solid black;
    min-height: 350px;
}
.equipo__img{
    width: 250px;
    height: 250px;
    padding: 16px;
}
.equipo__nombre{
    margin: 0;
    font-family: sans-serif;
    font-size: 1.8rem;
    text-align: center;
}
.equipo__cargo{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}