<header>
    <nav class="navbar navbar--titulo">
        <div class="container-fluid">
            <h1 class="navbar__nomempresa">TEI: Proyectos Eléctricos</h1>
            <a class="navbar-brand navbar__logo" href="/home">
                <img src="/assets/img/logo.jpg" alt="Logo" width="120" height="50" class="d-inline-block align-text-top navbar__imglogo">
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar--menu">
        <div class="container-fluid navbar__contenedor">
            <button class="navbar-toggler navbar__botonmenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar__iconomenu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav menu">
                    <li class="nav-item dropdown menu__li">
                        <a class="dropdown-toggle menu__opcion" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            GESTIÓN
                        </a>
                        <ul class="dropdown-menu menu__opciones">
                            <li><a class="dropdown-item menu__link" href="/sugerencia">Sugerencias</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown menu__li">
                        <a class="dropdown-toggle menu__opcion" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            LOGÍSTICA
                        </a>
                        <ul class="dropdown-menu menu__opciones">
                            <li><a class="dropdown-item menu__link" href="/proveedor">Proveedores</a></li>
                            <li><a class="dropdown-item menu__link" href="/inventario">Inventario</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown menu__li">
                        <a class="dropdown-toggle menu__opcion" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            OPERACIONES
                        </a>
                        <ul class="dropdown-menu menu__opciones">
                            <li><a class="dropdown-item menu__link" href="/proyecto">Proyectos</a></li>
                            <li><a class="dropdown-item menu__link" href="/cliente">Clientes</a></li>
                            <li><a class="dropdown-item menu__link" href="/reqinsumos">Req. de Insumos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="btn navbar__btnsalir" href="/landing">Cerrar Sesión</a>
        </div>
    </nav>
</header>

