<header>
    <nav class="navbar navbar--titulo">
        <div class="container-fluid">
            <h1 class="navbar__nomempresa">CJava: Siempre para apoyarte</h1>
            <a class="navbar-brand navbar__logo" href="/home">
                <img src="/assets/img/logo.jpg" alt="Logo" width="60" height="50" class="d-inline-block align-text-top navbar__imglogo">
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar--menu">
        <div class="container-fluid">
          <button class="navbar-toggler navbar__botonmenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar__iconomenu"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav menu">
              <li class="nav-item">
                <a class="menu__opcion menu__opcion-seleccionado" href="/home">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="menu__opcion" href="/alumnos">ALUMNOS</a>
              </li>
              <li class="nav-item">
                <a class="menu__opcion" href="/cursos">CURSOS</a>
              </li>
              <li class="nav-item">
                <a class="menu__opcion" href="/matriculas">MATRÍCULAS</a>
              </li>
              <li class="nav-item">
                <a class="menu__opcion" href="/pagos">PAGOS</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
  </header>

