<footer class="footer">
    <div class="footer__grupo">
        <div class="footer__bloque">
            <a href="/home">
                <img src="/assets/img/logo_angular.png" alt="Imagen del logo de Angular" width="150" height="130" class="d-inline-block align-text-top footer__logo">
            </a>
            <div class="footer__bloqueredes">
                <p class="footer__texto">Síguenos en:</p>
                <figure class="footer__redes">
                    <a href="#">
                        <img src="/assets/img/icon_facebook.png" alt="Imagen de Facebook" width="30" height="30" class="d-inline-block align-text-top footer__red">
                    </a>
                    <a href="#">
                        <img src="/assets/img/icon_x.png" alt="Imagen de X" width="30" height="30" class="d-inline-block align-text-top footer__red">
                    </a>
                    <a href="#">
                        <img src="/assets/img/icon_youtube.png" alt="Imagen de Youtube" width="30" height="30" class="d-inline-block align-text-top footer__red">
                    </a>
                </figure>
            </div>
        </div>
        <div class="footer__bloque">
            <p class="footer__titulo">ACCESOS DIRECTOS</p>
            <ul class="footer__listaaccesos">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#ff2d2d" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <a href="/alumnos" class="footer__accesodirecto">ALUMNOS</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#ff2d2d" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <a href="/cursos" class="footer__accesodirecto">CURSOS</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#ff2d2d" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <a href="/matriculas" class="footer__accesodirecto">MATRÍCULAS</a>
                </li>
            </ul>
        </div>
        <div class="footer__bloque">
            <p class="footer__titulo">CONTÁCTANOS</p>
            <ul class="footer__listadatos">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff2d2d" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                    <span class="footer__texto">Arenales #225 Lince</span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff2d2d" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                    </svg>
                    <span class="footer__texto">+51 987 103 468</span></li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff2d2d" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                    </svg>
                    <span class="footer__texto">info&#64;cjava.com</span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff2d2d" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                    </svg>
                    <span class="footer__texto">
                        Lunes a viernes : 09:00am a 5:00pm
                        <br>
                        Sábado: 09:00am a 1:00pm
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__author">
        <p class="footer__texto footer__texto-nomauthor">2024. Desarrollado por Huancollo Chambi Fabiola Jessica</p>
    </div>
</footer>
<a href="#">
    <img src="/assets/img/icon_whatsapp.png" alt="Imagen de Whatsapp" width="60" height="60" class="d-inline-block align-text-top footer__btnwb" title="Enviar mensaje">
</a>